extends hello-world-layout.pug

block page-title-block
  title This is the page title.

block header-block
  h1 Hello World!

block body-block
  p I'm going to be a software engineer!
  img(src="/images/waterscape.jpg" 
      alt="The Earth" 
      title="The Earth")