extends hello-world-layout.pug

block page-title-block
  title Ceci est le titre de la page

block header-block
  h1 Bonjour le monde!

block body-block
   p Je vais bientôt être un ingénieur logiciel!
      img(src="/images/waterscape.jpg" 
          alt="La planète Terre" 
          title="La planète Terre")